.table-container {
  width: 60%;
  overflow-x: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .responsive-table th,
  .responsive-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  @media screen and (max-width: 600px) {
    .responsive-table {
      display: block;
    }
    
    .responsive-table thead {
      display: none;
    }
    
    .responsive-table tr {
      margin-bottom: 10px;
      display: block;
      border: 1px solid #ccc;
    }
    
    .responsive-table td {
      display: flex;
      justify-content: space-between;
      padding: 6px;
    }
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .pagination li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .pagination a {
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
  }
  
  .pagination a.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }

  .input-container {
    display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 10px;
  }
  
  .input-container label {
    margin-bottom: 5px;
  }
  
  .input-container input {
    width: 100%;
  }
  .search-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .search-container button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color: #0056b3;
  }

  .button{
    margin-right: 4px;
  }